.segment#front-video
  margin-top: $universal-padding
  max-width: none
  width: 100vw
  background: hsl(0,0,95%)

  .front-video-content
    max-width: $content-max-width
    margin: 0 auto
    padding: $universal-padding
    text-align: center

    iframe
      width: (560px * 1.5)
      height: (315px * 1.5)

    h2
      margin: 25px 0px
      position: relative
      font-size: 36px
      color: black
      font-style: italic
      font-weight: 700
