#content
  #news-slideshow.segment
    max-width: 100%

    .news-content
      max-width: 1180px
      margin: 0 auto
      box-sizing: border-box
      padding: ($universal-padding / 2)
      overflow: auto

      .news-wrap
        width: 2000px

        img
          max-width: 400px
          width: 90vw
          position: relative
          display: block
          float: left
