#content
  #search-devider.segment
    overflow: visible
    max-width: none
    width: 100%
    padding: $universal-padding 20px
    background:
      image: url('../img/brno_bg.png')
      size: cover
      position: center

    h2
      margin: 25px 0px 10px
      position: relative
      font-size: 36px
      color: $accent-color
      line-height: 1.2em
      font-style: italic
      font-weight: 700
      text-align: center
    img
      position: relative
      margin: 0 auto
      width: 22px
      transform: scale(2,1)
      transition: 0.5s

    form
      position: relative
      display: block
      max-width: 400px
      margin: 40px auto 20px
      text-align: center


      input
        display: block
        margin: 0 auto
        background: none
        max-width: 400px
        padding: 10px 50px
        border: none
        border-radius: 0px
        border-bottom: 3px solid $accent-color
        text-align: center
        font-size: 18px
        color: #333

      button
        position: absolute
        top: 0px
        right: 15px
        background: none
        border-radius: 0px
        padding: 0px
        &:hover, &:active
          img
            transform: rotate(20deg)
        img
          width: 25px
          transform: scale(1,1) rotate(0deg)
          transform-origin: left bottom
          transition: 0.3s

      #autocomplete-box
        display: none
        position: absolute
        left: 11px
        margin: 0 auto
        background: white
        max-width: 379px
        width: 400px
        box-sizing: border-box
        border: 1px solid $accent-color
        border-top: 0px
        color: #333
        z-index: 5

        ul
          margin: 0px
          li
            text-align: left
            margin: 0px
            padding: 8px 12px
            font-size: 14px
            border-bottom: 1px solid #EEE
            &:hover, &:active
              background: $accent-color
              color: white
            &:last-child
              border-bottom: 0px

////////////// 29 em treshold ///////////////
@media screen and(max-width: 29em)
  #content
    #search-devider.segment
      padding: $universal-padding 10px
      form
        max-width: 300px
        margin: 40px auto 10px

        input
          max-width: 300px
          padding: 10px 40px

        button
          right: 0px

        #autocomplete-box
          left: 0px
          max-width: 300px
          width: 300px
          ul
            li
              padding: 6px 10px
              font-size: 12px
