// text and font
$headline-font: 'Open Sans', sans-serif
$basic-font: 'Open Sans', sans-serif
$basic-font-color: hsl(0, 0%, 20%)

// colors
$accent-color: hsl(75, 73%, 39%)

// dimensions
$content-max-width: 1280px
$universal-padding: 50px
