html, body
  padding: 0
  margin: 0
  font-family: $basic-font
  color: $basic-font-color

body
  width: 100%

#content
  .segment
    max-width: $content-max-width
    margin: 0 auto
    box-sizing: border-box
    overflow: hidden
    position: relative

  .segment.text
    background: white
    border-radius: 8px
    box-shadow: 0px 0px 20px 0px hsla(0, 0%, 60%, 0.4)

  .padding
    padding: 0px $universal-padding
