html, body
  padding: 0
  margin: 0
  font-family: $basic-font
  color: $basic-font-color

body
  width: 100%

#content
  .segment
    max-width: $content-max-width
    margin: 0 auto
    box-sizing: border-box
    overflow: hidden
    position: relative

@import "_head_to_head"

@import "_more_info"

@import "_front_video"
