div(id="footer", class="segment")
  .top-shelf
    h3 Sledujte nás na sociálních sítích
    .icons-wrap
      a(href="#")
        img(src="img/facebook_icon.svg", width="40px" )
      a(href="#")
        img(src="img/youtube_icon.svg", width="40px")
  .bottom-shelf
    a(href="#") MESOH
    .|
    a(href="#") ISNO
    a(href="#") kontakt
    a(href="#") videa
    a(href="#") motivace
    a(href="#") reference
    a(href="#") ohlasy
