//- div(class="segment footer clear-both")
//-   form(id="newsletter-form", method="POST", action="")
//-     h3 Máte zájem o náš newsletter?
//-     label(id ="label-email", for="input-email") Váš e-mail
//-     input(type="email", name="email", id="input-email", placeholder="", aria-describedby="", required, aira-required="true")
//-     em(class="input-note", id="em-email") Zprávy posíláme 2 - 4 ktrát měsíčně.
//-     button(type="submit") Přihlásit
