doctype html
html
  head
    title Moje odpadky | Inteligentní systémy nakládání s odpady
    meta(charset="UTF-8")
    meta(name="description", content="Inteligentní systémy nakládání s odpady, nabízí několik efektivních systémů pro pohodlné třídění:ISNO, PZNsO, MESOH.Ing. Radek Staňka.")
    meta(name="author", content="Ing. Radek Staňka")
    meta(name="keywords" content="MESOH, ISNOIT, ISNO ")
    meta(name="viewport", content="width=device-width, initial-scale=1")
      
    // Links
    link(rel="stylesheet", type="text/css", href="../css/main.css")
    
    // JS
    // W3 include html from another file with javascript library
    script(src='http://www.w3schools.com/lib/w3data.js')
      
    // Fonts
    // Open Sans 400 600 700italic
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700italic' rel='stylesheet' type='text/css')
      
      
    // Favicon.ico
    link(rel="shortcut icon", type="image/x-icon", href="../img/favicon.ico")
