doctype html
html
  head
    title maximum of 60 characters including spaces here
    meta(charset="UTF-8")
    meta(name="description", content="128 characters of message matching text with a call to action goes here")
    meta(name="keywords" content="maximum of 256 characters with spaces, only for old search engines")
    meta(name="viewport", content="width=device-width, initial-scale=1")
      
    // Links
    link(rel="stylesheet", type="text/css", href="../css/main.css")
      
    // Fonts
    // Ubuntu 400 500
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=latin,latin-ext' rel='stylesheet' type='text/css')
      
    // google reCAPTCHA API
    script(src='https://www.google.com/recaptcha/api.js')
      
    // Favicon.ico
    link(rel="shortcut icon", type="image/x-icon", href="../img/favicon.ico")
