include head.jade
body
  #content
    include main_menu.jade
    
    #second-segment  
      div(class="segment text padding")
        
        h2 About us, hello
        p 
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          
        img(src="img/maps_placeholder.png")
          
        h2 Opened at
        p
          | Po-Pá: 09:00-18:00 <br>
          | Sobota: 09:00-12:00
        hr  
        h2 Contact
        p
          | Address: Company address 354, 620 01 City<br>
          | Phone: +420 555 333 222<br> 
        hr
          
        ul
          li apples
          li windows
          li linuxexes

      include footer.jade

  // JavaScrirpt
  // smoothscroll + jQuery
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(type="text/javascript", src="js/smoothscroll.js")
  // Dim page, show message
  script(type="text/javascript", src="js/dim_message.js")
