include head.jade
body
  #content
    include main_menu.jade
    
    div(id="front-headline", class="segment")
      img(src="img/head_left.png", class="head left")
      h1(class="left") Třídím pohodlně
      h1(class="right") Šetřím peníze
      img(src="img/head_right.png", class="head right")
      a(href="#front-video", class="smoothScroll").arrow-down-wrap
        .text 
          h3.more Více zde
        img(src="img/arrow_icon.svg")
    
    div(id="front-video", class="segment")
      .front-video-content
        .iframe-wrapper
          iframe(src="https://www.youtube.com/embed/Vx5Kxx6TWlo", frameborder="0", allowfullscreen)
        h2 Chcete také třídit pohodlně a získat úlevu na poplatku?
        a.button
          .button-text Ano, chci
          .link-panning-bg

      include footer.jade

  // JavaScrirpt
  // smoothscroll + jQuery
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(type="text/javascript", src="js/smoothscroll.js")
  // Dim page, show message
  script(type="text/javascript", src="js/dim_message.js")
