div(class="segment main-menu")
  #main-menu.clear-both
      a.home.menu(href="index.html")
        img(src="img/logo.png")
      a.hamburger-menu.menu(href="#", onclick="dimMessage('menu')")
        img(class="hamburger-menu-icon", src="img/options-icon.svg")
        .link-panning-bg
      #hamburger-menu(style="overflow: visible;")
      a.menu(href="#", onclick="dimMessage('menu')")
        .menu-text Přihlásit
        .link-panning-bg
      a.start-recycle.menu(href="#")
        .menu-text Začít třídit chytře
