div(class="segment menu")
  #mainMenu.clear-both
    ul.clear-both
      li <a href="index.html" class="first">Home</a>
      li <a href="#">Kontakt</a>
      li <a href="#">E-shop</a>
    button.menuButton(onclick="location.href='consulting.html';") poradna
